/* This is the better Cinetube CSS file for the Google Chrome Extension*/

.logo, #header h1{margin-left:220px;}

.large, #footer, .ads, .adst, .adsb, .publi_1, .favoritos, .movie_title, .favoritos, .paginicio, .publicidad_interna1,
 .publi_2, .paginicio, .sld_izq, .sld_der, .icos_fot, .tiket, .phat, .noved_mn p,
 .publi_top, .publi_ft, .ft, .publicidad_interna1, .icorecom, .tit_cent{width:0px;height:0px;display:none;position:absolute;z-index:-100;}

.menu{top:160px;}

.sld_cen{position:relative;left:150px;bottom:127px;}

/*End of CSS file*/
